*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.glsdefs
*.pdf
*.loc
*.soc

!requirement/img/**/*.pdf
requirement/img/adminGuiMockup/.idea/
!img/client_packages.pdf
!img/server_packages.pdf
